@page "{RoomName}"
@model musicwithfriends.Pages.Room.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h4>@Model.RoomName </h4>
<input type="hidden" id="roomId" value="@Model.RoomId" />
<a asp-page="./Index">Back to Room List</a>
<br />
<br />
<div class="row">
    <div class="col-md-4">
        <form method="post" enctype="multipart/form-data">
            <div class="input-group">
                <div class="custom-file">
                    <span asp-validation-for="FileUpload.UploadSong" class="text-danger"></span>
                    <input asp-for="FileUpload.UploadSong" type="file" class="custom-file-input" id="inputGroupFile01" aria-describedby="inputGroupFileAddon01">
                    <label class="custom-file-label" for="inputGroupFile04">Choose file</label>
                </div>
                <div class="input-group-append">
                    <input class="btn btn-outline-secondary" type="submit" value="Upload" />
                </div>
            </div>
                <label asp-for="FileUpload.AnotherInput" hidden="hidden" class="control-label"></label>
                <input asp-for="FileUpload.AnotherInput" hidden="hidden" type="file" class="custom-file" style="height:auto" />
                <span asp-validation-for="FileUpload.AnotherInput" class="text-danger"></span>
            <div class="col-md-2">
            </div>
        </form>
        @Html.AntiForgeryToken()
    </div>
    <div class="col-md-4">
    </div>
</div>

<table class="table"></table>
<video-js class="video-js" id="my-player" controls="controls">
</video-js>

<div class="row">
    <div class="col-md-4">
        <div id="audioTrackChoice">
            <br /><br />
            <select class="form-control" id="enabled-audio-track" name="enabled-audio-track">
                @foreach (var song in Model.Songs)
                {
                    <option label="@song.FileLocation" value="@song.FileLocation">@song.SongName</option>
                }
            </select>
        </div>
    </div>
</div>

@*<a class="btn btn-outline-danger" asp-page="/Songs/Delete" asp-route-id="@song.SongId">Delete</a>*@

@section Scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            var roomId = $('#roomId').val();
            // html5 for html hls
            var player = videojs('#my-player');

            $.ajax({
                type: 'GET',
                url: "/Room/Details/@Model.RoomName?handler=SongsList",
                beforeSend: function (xhr) {
                    xhr.setRequestHeader("XSRF-TOKEN",
                        $('input:hidden[name="__RequestVerificationToken"]').val());
                },

                contentType: "application/json; charset=utf-8",
                dataType: "json"
            }).done(function (data) {
                //console.log(JSON.stringify(data));
                //player.src([
                //    { type: "audio/mpeg", src: location },
                //]);
                    for (var i in data) {
                        //console.log(JSON.stringify(data[i].fileLocation));
                        var location = JSON.stringify(data[i].fileLocation).replace(/^"(.+(?="$))"$/, '$1');;
                        console.log(location);
                    }
                });

            var audioTrackList = player.audioTracks();
            var audioTrackSelect = document.getElementById("enabled-audio-track");
            audioTrackSelect.addEventListener('change', function () {
                //var track = audioTrackList[this.selectedIndex];
                //console.log('User switched to track ' + track.label);
                //track.enabled = true;
                player.src([
                    { type: "audio/mpeg", src: $(this).val()  },
                ]);
                player.play();
            });

            audioTrackList.on('change', function () {
                for (var i = 0; i < audioTrackList.length; i++) {
                    var track = audioTrackList[i];
                    if (track.enabled) {
                        console.log('A new ' + track.label + ' has been enabled!');
                    }
                }
            });

            audioTrackList.on('addtrack', function () {
                console.log('a track has been added to the audio track list');
            });

            audioTrackList.on('removetrack', function () {
                console.log('a track has been removed from the audio track list');
            });

        });
    </script>
}